:root {
  --navbar-bg-color: #ffffff;
  --navbar-usermenu-bg-color: #ffffff;
  --navbar-usermenu-item-bg-hover: #f3f4f6;
  --navbar-usermenu-item-text-color: #000000;
  --navbar-usermenu-item-text-hover: #000000;
}
