:root {
  --sidebar-bg-color: #0596ff;

  --sidebar-nav-link-bg-color: #0596ff;
  --sidebar-nav-link-bg-hover: #00a39b;
  --sidebar-nav-link-bg-active: #00a39b;

  --sidebar-nav-link-text-color: #ffffff;
  --sidebar-nav-link-text-hover: #ffffff;
  --sidebar-nav-link-text-active: #ffffff;
}
