
component
<div class=" ">
    <div class="flex justify-center overflow">
        <div class="w-full">
            <div class="bg-white shadow-md rounded-lg px-3 py-2 ">
                <div class="block text-gray-700 text-lg font-semibold py-2 px-2">
                    Request Type
                </div>
                <div class="flex items-center bg-gray-200 rounded-md">
                    <div class="pl-2">
                        <svg class="fill-current text-gray-500 w-6 h-6" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24">
                            <path class="heroicon-ui"
                                d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z" />
                        </svg>
                    </div>
                    <input
                        class="w-full rounded-md bg-gray-200 text-gray-700 leading-tight focus:outline-none py-2 px-2 sticky "
                        id="search" type="text" placeholder="Search">
                </div>
                <div class="py-3 text-sm divide-y " style="max-height: 300px; overflow-y: auto;"  id="journal-scroll">
                    <div class="flex justify-start cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-50 hover:shadow-md rounded-md px-2 py-2 my-2">
                        <span class="bg-gray-400 h-2 w-2 m-2 rounded-full"></span>
                        <div class="flex-grow font-medium px-2">Expense Report</div>
                        <!-- <div class="text-sm font-normal text-gray-500 tracking-wide ">Start process</div> -->
                        <button mat-button mat-dialog-close class=" bg-blue-500 hover:bg-blue-700 text-white font-bold hover:shadow-md py-2 px-4 rounded-md" (click)="navigate()">
                          start process
                        </button>
                    </div>
                  <div class="flex justify-start cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-50 hover:shadow-md rounded-md px-2 py-2 my-2">
                    <span class="bg-gray-400 h-2 w-2 m-2 rounded-full"></span>
                    <div class="flex-grow font-medium px-2">mission order</div>
                    <!-- <div class="text-sm font-normal text-gray-500 tracking-wide ">Start process</div> -->
                    <button mat-button mat-dialog-close class=" bg-blue-500 hover:bg-blue-700 text-white font-bold hover:shadow-md py-2 px-4 rounded-md" (click)="navigate()">
                      start process
                    </button>
                  </div>
                  <div class="flex justify-start cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-50 hover:shadow-md rounded-md px-2 py-2 my-2">
                    <span class="bg-gray-400 h-2 w-2 m-2 rounded-full"></span>
                    <div class="flex-grow font-medium px-2">Leave request</div>
                    <!-- <div class="text-sm font-normal text-gray-500 tracking-wide ">Start process</div> -->
                    <button mat-button mat-dialog-close class=" bg-blue-500 hover:bg-blue-700 text-white font-bold hover:shadow-md py-2 px-4 rounded-md" (click)="navigate()">
                      start process
                    </button>
                  </div>
                  <div class="flex justify-start cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-50 hover:shadow-md rounded-md px-2 py-2 my-2">
                    <span class="bg-gray-400 h-2 w-2 m-2 rounded-full"></span>
                    <div class="flex-grow font-medium px-2">Equipment Request</div>
                    <!-- <div class="text-sm font-normal text-gray-500 tracking-wide ">Start process</div> -->
                    <button mat-button mat-dialog-close class=" bg-blue-500 hover:bg-blue-700 text-white font-bold hover:shadow-md py-2 px-4 rounded-md" (click)="navigate()">
                      start process
                    </button>
                  </div>
                  <div class="flex justify-start cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-50 hover:shadow-md rounded-md px-2 py-2 my-2">
                    <span class="bg-gray-400 h-2 w-2 m-2 rounded-full"></span>
                    <div class="flex-grow font-medium px-2">Legal</div>
                    <!-- <div class="text-sm font-normal text-gray-500 tracking-wide ">Start process</div> -->
                    <button mat-button mat-dialog-close class=" bg-blue-500 hover:bg-blue-700 text-white font-bold hover:shadow-md py-2 px-4 rounded-md" (click)="navigate()">
                      start process
                    </button>
                  </div>
                  <div class="flex justify-start cursor-pointer text-gray-700 hover:text-blue-400 hover:bg-blue-50 hover:shadow-md rounded-md px-2 py-2 my-2">
                    <span class="bg-gray-400 h-2 w-2 m-2 rounded-full"></span>
                    <div class="flex-grow font-medium px-2">Financial commitments</div>
                    <!-- <div class="text-sm font-normal text-gray-500 tracking-wide ">Start process</div> -->
                    <button mat-button mat-dialog-close class=" bg-blue-500 hover:bg-blue-700 text-white font-bold hover:shadow-md py-2 px-4 rounded-md" (click)="navigate()">
                      start process
                    </button>
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>



