<div>
  <div class="flex flex-row w-full divide-x divide-divideColor">
    <div class="flex-1 p-5">
      <div class="flex flex-col gap-3">

        <div class="flex items-center gap-2">
          <div class="w-8 h-8 flex items-center justify-center rounded-full bg-primary text-white">
            <lucide-icon name="combine" class="w-4 h-4"></lucide-icon>
          </div>
          <span>Total demande OM</span>
        </div>

        <div class="border-b border-dashed border-dashedColor pb-3">
          <span class="text-2xl font-bold">15</span>
        </div>

        <div>
          <span class="text-xs text-updateColor">Mise à jour : 16 juillet 2025</span>
        </div>
      </div>
    </div>
    <div class="flex-1 p-5">
      <div class="flex flex-col gap-3">

        <div class="flex items-center gap-2">
          <div class="w-8 h-8 flex items-center justify-center rounded-full bg-nationalColor text-white">
            <lucide-icon name="globe-lock" class="w-4 h-4"></lucide-icon>
          </div>
          <span>OM nationale</span>
        </div>

        <div class="border-b border-dashed border-dashedColor pb-3">
          <span class="text-2xl font-bold">10</span>
        </div>

        <div>
          <span class="text-xs text-updateColor">Mise à jour : 16 juillet 2025</span>
        </div>
      </div>
    </div>
    <div class="flex-1 p-5">
      <div class="flex flex-col gap-3">

        <div class="flex items-center gap-2">
          <div class="w-8 h-8 flex items-center justify-center rounded-full bg-internationalColor text-white">
            <lucide-icon name="globe" class="w-4 h-4"></lucide-icon>
          </div>
          <span>OM internationale</span>
        </div>

        <div class="border-b border-dashed border-dashedColor pb-3">
          <span class="text-2xl font-bold">05</span>
        </div>

        <div>
          <span class="text-xs text-updateColor">Mise à jour : 16 juillet 2025</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-6 p-5">
    <div>
      <span class="font-bold text-lg">Liste des demandes OM</span>
    </div>
    <div class="grid grid-cols-5 gap-2">
      <div>
        <input
          type="text" placeholder="Référence OM"
          class="rounded-lg border border-inputBorder p-2 w-full focus:outline-none focus:border-inputBorder">
      </div>
      <div>
        <select
          class="w-full rounded-lg bg-transparent focus:outline-none focus:border-inputBorder border border-inputBorder"
        >
          <option [value]="''" disabled selected>Type de OM</option>
          <option [value]="'Nationale'">Nationale</option>
          <option [value]="'Internationale'">Internationale</option>
        </select>
      </div>
      <div>
        <input
          type="date"
          class="rounded-lg border border-inputBorder p-2 w-full focus:outline-none focus:border-inputBorder">
      </div>
      <div>
        <select
          class="w-full rounded-lg bg-transparent focus:outline-none focus:border-inputBorder border border-inputBorder"
        >
          <option [value]="''" disabled selected>Statut de la demande</option>
          <option [value]="'New'">New</option>
          <option [value]="'Validée'">Validée</option>
          <option [value]="'Rejetée'">Rejetée</option>
        </select>
      </div>
      <div>
        <button class="bg-primary text-white p-2 rounded-lg items-center w-full">Rechercher</button>
      </div>
    </div>
    <div class="max-h-60 overflow-x-scroll">
      <table class="table-auto w-full">
        <thead class="bg-thBackground">
        <tr class="text-left text-thBlue">
          <th class="p-2 rounded-tl-lg rounded-bl-lg">Réference</th>
          <th class="p-2">Type OM</th>
          <th class="p-2">Date début</th>
          <th class="p-2">Date fin</th>
          <th class="p-2">Statut</th>
          <th class="p-2">Approbateur</th>
          <th class="p-2">Rôle approbateur</th>
          <th class="p-2">Taux de complétude</th>
          <th class="p-2 rounded-tr-lg rounded-br-lg">Actions</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-divideColor">
        <tr>
          <td class="p-2 font-bold">1</td>
          <td class="p-2">Nationale</td>
          <td class="p-2 font-bold">03-02-2025</td>
          <td class="p-2 font-bold">03-02-2025</td>
          <td class="p-2">
            <span class="inline-block px-2 py-1 text-xs text-validateText border border-validateBorder rounded-lg uppercase">validée</span>
          </td>
          <td class="p-2">Yacine BA</td>
          <td class="p-2">-</td>
          <td class="p-2">
            <div class="flex items-center w-full">
              <div class="w-full bg-gray-100 rounded-full h-2">
                <div class="h-2 bg-blue-500 rounded-full" style="width: 80%"></div>
              </div>
              <span class="ml-2">70%</span>
            </div>
          </td>
          <td class="p-2 relative group flex justify-end items-center align-middle">
            <lucide-icon name="circle-ellipsis" class="cursor-pointer text-updateColor"></lucide-icon>

            <div class="absolute p-1 font-bold text-black bg-white shadow-custom-tooltip rounded-lg
  opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300
  top-full right-0 z-10">
              <ul>
                <li class="flex items-center gap-2 px-4 py-2 cursor-pointer hover:bg-liBlue hover:rounded-lg whitespace-nowrap">
                  <lucide-icon name="eye" class="w-4 h-4"></lucide-icon> Consulter
                </li>
                <li class="flex items-center gap-2 px-4 py-2 cursor-pointer hover:bg-liBlue hover:rounded-lg whitespace-nowrap">
                  <lucide-icon name="pen" class="w-4 h-4"></lucide-icon> Modifier
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td class="p-2 font-bold">2</td>
          <td class="p-2">Internationale</td>
          <td class="p-2 font-bold">03-02-2025</td>
          <td class="p-2 font-bold">03-02-2025</td>
          <td class="p-2">
            <span class="inline-block px-2 py-1 text-xs text-validateText border border-validateBorder rounded-lg uppercase">validée</span>
          </td>
          <td class="p-2">Yacine BA</td>
          <td class="p-2">-</td>
          <td class="p-2">
            <div class="flex items-center w-full space-x-2">
              <div class="w-full rounded-full h-2">
                <div class="h-2 bg-progressionColor rounded-full" style="width: 100%"></div>
              </div>
              <lucide-icon name="badge-check" class="text-progressionColor"></lucide-icon>
            </div>
          </td>
          <td class="p-2 relative group flex justify-end items-center align-middle">
            <lucide-icon name="circle-ellipsis" class="cursor-pointer text-updateColor"></lucide-icon>
            <div class="absolute p-1 font-bold text-black bg-white shadow-custom-tooltip rounded-lg
  opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300
  top-full right-0 z-10">
              <ul>
                <li class="flex items-center gap-2 px-4 py-2 cursor-pointer hover:bg-liBlue hover:rounded-lg whitespace-nowrap">
                  <lucide-icon name="eye" class="w-4 h-4"></lucide-icon> Consulter
                </li>
                <li class="flex items-center gap-2 px-4 py-2 cursor-pointer hover:bg-liBlue hover:rounded-lg whitespace-nowrap">
                  <lucide-icon name="pen" class="w-4 h-4"></lucide-icon> Modifier
                </li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="flex flex-row mt-6 px-4 gap-4">
      <div class="basis-1/2 flex items-center gap-4">
        <div class="p-2">
          <div class="flex items-center space-x-2">

            <!-- Bouton Précédent -->
            <button class="p-2 rounded-lg border border-[#F1F2F4] hover:bg-primary hover:text-white transition-colors disabled:opacity-50"
                    (click)="previousPage()"
                    [disabled]="currentPage === 1">
              <lucide-icon name="chevron-left"></lucide-icon>
            </button>

            <!-- Pages -->
            <ng-container *ngFor="let page of pages">
              <button class="px-3 py-1 rounded hover:bg-primary hover:text-white"
                      [ngClass]="{'bg-[#F8F8F8]': currentPage === page}"
                      (click)="gotoPage(page)">
                {{ page }}
              </button>
            </ng-container>

            <!-- Ellipsis -->
            <span *ngIf="showEllipsis" class="px-2">...</span>

            <!-- Dernière page -->
            <button *ngIf="totalPages > 1 && !pages.includes(totalPages)"
                    class="px-3 py-1 rounded hover:bg-primary hover:text-white"
                    (click)="gotoPage(totalPages)">
              {{ totalPages }}
            </button>

            <!-- Bouton Suivant -->
            <button class="p-2 rounded-lg border border-[#F1F2F4] hover:bg-primary hover:text-white transition-colors disabled:opacity-50"
                    (click)="nextPage()"
                    [disabled]="currentPage === totalPages">
              <lucide-icon name="chevron-right"></lucide-icon>
            </button>

          </div>
        </div>
      </div>

      <div class="flex justify-end items-center space-x-4 w-full">
        <!-- Texte : Affichage de X à Y sur Z -->
        <div class="text-sm text-[#687588]">
          Affichage de <span class="font-medium">{{ startIndex }}</span> à
          <span class="font-medium">{{ endIndex }}</span> sur
          <span class="font-medium">{{ totalItems }}</span> entrées
        </div>

        <!-- Select Afficher X -->
        <div class="flex items-center text-sm space-x-2 border border-[#F1F2F4] rounded-lg px-3 py-2">
          <label for="itemsPerPage">Afficher</label>
          <select id="itemsPerPage"
                  class="bg-transparent focus:outline-none border border-none appearance-none"
                  [(ngModel)]="itemsPerPage"
                  (change)="onItemsPerPageChange()"
          >
            <option *ngFor="let count of [5, 8, 10, 20]" [value]="count">{{ count }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-6 p-5">
    <div>
      <span class="font-bold text-lg">Liste des demandes OM à valider</span>
    </div>
    <div class="grid grid-cols-4 gap-2">
      <div>
        <input
          type="text" placeholder="Référence OM"
          class="rounded-lg border border-inputBorder p-2 w-full focus:outline-none focus:border-inputBorder">
      </div>
      <div>
        <select
          class="w-full rounded-lg bg-transparent focus:outline-none focus:border-inputBorder border border-inputBorder"
        >
          <option [value]="''" disabled selected>Type de OM</option>
          <option [value]="'Nationale'">Nationale</option>
          <option [value]="'Internationale'">Internationale</option>
        </select>
      </div>
      <div>
        <input
          type="date"
          class="rounded-lg border border-inputBorder p-2 w-full focus:outline-none focus:border-inputBorder">
      </div>
      <div>
        <button class="bg-primary text-white p-2 rounded-lg items-center w-full">Rechercher</button>
      </div>
    </div>
    <div class="max-h-60 overflow-x-scroll">
      <table class="table-auto w-full">
        <thead class="bg-thBackground">
        <tr class="text-left text-thBlue">
          <th class="p-2 rounded-tl-lg rounded-bl-lg">Réference</th>
          <th class="p-2">Type OM</th>
          <th class="p-2">Date début</th>
          <th class="p-2">Date fin</th>
          <th class="p-2">Approbateur</th>
          <th class="p-2">Taux de complétude</th>
          <th class="p-2 rounded-tr-lg rounded-br-lg">Actions</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-divideColor">
        <tr>
          <td class="p-2 font-bold">1</td>
          <td class="p-2">Nationale</td>
          <td class="p-2 font-bold">03-02-2025</td>
          <td class="p-2 font-bold">03-02-2025</td>
          <td class="p-2">Yacine BA</td>
          <td class="p-2">
            <div class="flex items-center w-full">
              <div class="w-full bg-gray-100 rounded-full h-2">
                <div class="h-2 bg-blue-500 rounded-full" style="width: 80%"></div>
              </div>
              <span class="ml-2">70%</span>
            </div>
          </td>
          <td class="p-2 relative group flex justify-end items-center align-middle">
            <lucide-icon name="circle-ellipsis" class="cursor-pointer text-updateColor"></lucide-icon>

            <div class="absolute p-1 font-bold text-black bg-white shadow-custom-tooltip rounded-lg
  opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300
  top-full right-0 z-10">
              <ul>
                <li class="flex items-center gap-2 px-4 py-2 cursor-pointer hover:bg-liBlue hover:rounded-lg whitespace-nowrap">
                  <lucide-icon name="eye" class="w-4 h-4"></lucide-icon> Consulter
                </li>
                <li class="flex items-center gap-2 px-4 py-2 cursor-pointer hover:bg-liBlue hover:rounded-lg whitespace-nowrap">
                  <lucide-icon name="check-check" class="w-4 h-4"></lucide-icon> Voir détails et valider
                </li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td class="p-2 font-bold">2</td>
          <td class="p-2">Internationale</td>
          <td class="p-2 font-bold">03-02-2025</td>
          <td class="p-2 font-bold">03-02-2025</td>
          <td class="p-2">Yacine BA</td>
          <td class="p-2">
            <div class="flex items-center w-full space-x-2">
              <div class="w-full rounded-full h-2">
                <div class="h-2 bg-progressionColor rounded-full" style="width: 100%"></div>
              </div>
              <lucide-icon name="badge-check" class="text-progressionColor"></lucide-icon>
            </div>
          </td>
          <td class="p-2 relative group flex justify-end items-center align-middle">
            <lucide-icon name="circle-ellipsis" class="cursor-pointer text-updateColor"></lucide-icon>

            <div class="absolute p-1 font-bold text-black bg-white shadow-custom-tooltip rounded-lg
  opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300
  top-full right-0 z-10">
              <ul>
                <li class="flex items-center gap-2 px-4 py-2 cursor-pointer hover:bg-liBlue hover:rounded-lg whitespace-nowrap">
                  <lucide-icon name="eye" class="w-4 h-4"></lucide-icon> Consulter
                </li>
                <li class="flex items-center gap-2 px-4 py-2 cursor-pointer hover:bg-liBlue hover:rounded-lg whitespace-nowrap">
                  <lucide-icon name="check-check" class="w-4 h-4"></lucide-icon> Voir détails et valider
                </li>
              </ul>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="flex flex-row mt-6 px-4 gap-4">
      <div class="basis-1/2 flex items-center gap-4">
        <div class="p-2">
          <div class="flex items-center space-x-2">

            <!-- Bouton Précédent -->
            <button class="p-2 rounded-lg border border-[#F1F2F4] hover:bg-primary hover:text-white transition-colors disabled:opacity-50"
                    (click)="previousPage()"
                    [disabled]="currentPage === 1">
              <lucide-icon name="chevron-left"></lucide-icon>
            </button>

            <!-- Pages -->
            <ng-container *ngFor="let page of pages">
              <button class="px-3 py-1 rounded hover:bg-primary hover:text-white"
                      [ngClass]="{'bg-[#F8F8F8]': currentPage === page}"
                      (click)="gotoPage(page)">
                {{ page }}
              </button>
            </ng-container>

            <!-- Ellipsis -->
            <span *ngIf="showEllipsis" class="px-2">...</span>

            <!-- Dernière page -->
            <button *ngIf="totalPages > 1 && !pages.includes(totalPages)"
                    class="px-3 py-1 rounded hover:bg-primary hover:text-white"
                    (click)="gotoPage(totalPages)">
              {{ totalPages }}
            </button>

            <!-- Bouton Suivant -->
            <button class="p-2 rounded-lg border border-[#F1F2F4] hover:bg-primary hover:text-white transition-colors disabled:opacity-50"
                    (click)="nextPage()"
                    [disabled]="currentPage === totalPages">
              <lucide-icon name="chevron-right"></lucide-icon>
            </button>

          </div>
        </div>
      </div>

      <div class="flex justify-end items-center space-x-4 w-full">
        <!-- Texte : Affichage de X à Y sur Z -->
        <div class="text-sm text-[#687588]">
          Affichage de <span class="font-medium">{{ startIndex }}</span> à
          <span class="font-medium">{{ endIndex }}</span> sur
          <span class="font-medium">{{ totalItems }}</span> entrées
        </div>

        <!-- Select Afficher X -->
        <div class="flex items-center text-sm space-x-2 border border-[#F1F2F4] rounded-lg px-3 py-2">
          <label for="itemsPerPage">Afficher</label>
          <select id="itemsPerPage1"
                  class="bg-transparent focus:outline-none border border-none appearance-none"
                  [(ngModel)]="itemsPerPage"
                  (change)="onItemsPerPageChange()"
          >
            <option *ngFor="let count of [5, 8, 10, 20]" [value]="count">{{ count }}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
