<div class="h-auto">
  <div
    class="flex items-center justify-between rounded-t border-b bg-indigo-500 p-4"
  >
    <h3 class="text-xl font-semibold text-white">
      {{ data.title }}
    </h3>
    <button
      type="button"
      class="ms-auto inline-flex h-8 w-8 items-center justify-center text-white"
      mat-dialog-close
    >
      <svg
        class="h-3 w-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        />
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <mat-dialog-content>
    <ng-container *ngComponentOutlet="data.component" #content></ng-container>
  </mat-dialog-content>
</div>
