<nav class="flex mb-4" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a routerLink="dashboard" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-secondary">
        Tableau de bord
      </a>
    </li>
    <li *ngFor="let breadcrumb of breadcrumbs; let isLast = last">
      <div class="flex items-center">
        <lucide-icon name="chevron-right"></lucide-icon>
        <ng-container *ngIf="!isLast || !isLoadingLastBreadcrumb; else loadingSpinner">
          <a [routerLink]="[breadcrumb.url, breadcrumb.params]"
             class="cursor-pointer ms-1 text-sm font-medium text-gray-700 hover:text-secondary md:ms-2 dark:text-gray-400 dark:hover:text-white">
            {{ breadcrumb.label }}
          </a>
        </ng-container>
        <ng-template #loadingSpinner>
          <div class="flex items-center">
            <div class="loader border-t-4 border-secondary rounded-full w-4 h-4 animate-spin"></div>
            <span class="ml-2 text-sm text-gray-500">Chargement...</span>
          </div>
        </ng-template>
      </div>
    </li>
  </ol>
</nav>
