<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1">
    <li class="inline-flex items-center">
      <a routerLink="dashboard" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-secondary">
        Tableau de bord
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <lucide-icon name="slash" class="h-3"></lucide-icon>
        <a class="cursor-pointer ms-1 text-sm font-medium text-gray-700 hover:text-secondary">
          okkkk
        </a>
      </div>
    </li>
  </ol>
</nav>
